<!DOCTYPE html>
<html lang="en">

<%- include('./templates/head.ejs') %>

<body class="fix-header fix-sidebar card-no-border">
    <%- include('./templates/preloader.ejs') %>

            <div class="container-fluid align-middle" style="height: 100%;">
                <!-- Page content starts here -->
                <h1>.. Because I care </h1>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#auth_modal">
                    Launch static backdrop modal
                </button>
                <!-- Page content ends here -->
            </div>
            <!-- End Container fluid  -->
            
            <%- include('./templates/footer.ejs') %>
</body>

</html>