<!DOCTYPE html>
<html lang="en">

<%- include('./templates/head.ejs') %>

<body class="fix-header fix-sidebar card-no-border">
    <%- include('./templates/preloader.ejs') %>

            <div class="container-fluid align-middle" style="height: 100%;">
                <!-- Page content starts here -->
                <a href="/shiftManager/manager-dashboard" class="btn btn-sm btn-outline-primary">Manager Dashboard</a>
                <a href="/staffMember/staff-dashboard" class="btn btn-sm btn-outline-primary">Staff Dashboard</a>
                <a href="/shiftManager/manage_shift" class="btn btn-sm btn-outline-primary">Manage Shift</a>
                <a href="/shiftManager/staff_account_create" class="btn btn-sm btn-outline-primary">Create Account</a>
                <!-- add button and href for staff dashboard here -->
                <!-- Page content ends here -->
            </div>
            <!-- End Container fluid  -->
            
            <%- include('./templates/footer.ejs') %>
</body>

</html>