<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->

<footer class="footer"> © 2021 Adminwrap by <a href="https://www.wrappixel.com/">wrappixel.com</a> </footer>

<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!--morris JavaScript -->
<script src="/theme/raphael/raphael-min.js"></script>
<script src="/theme/morrisjs/morris.min.js"></script>
<!--c3 JavaScript -->
<script src="/theme/d3/d3.min.js"></script>
<script src="/theme/c3-master/c3.min.js"></script>
<!-- Chart JS -->
<script src="/js/dashboard1.js"></script>


<!-- Firebase login login starts here -->
<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>

<script>

    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyChO9dhWPtZLiEwRLHPW-HMe6V-ay0TmmA",
        authDomain: "restoreplanetearth-14472.firebaseapp.com",
        projectId: "restoreplanetearth-14472",
        storageBucket: "restoreplanetearth-14472.appspot.com",
        messagingSenderId: "841148182082",
        appId: "1:841148182082:web:cee257b82f18c88b2cc7db",
        measurementId: "G-4L6NDY5SVQ"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var provider = new firebase.auth.GoogleAuthProvider();

    function google_signin() {
        firebase.auth().signInWithRedirect(provider);
    }

    function google_signout() {
        firebase.auth().signOut().then(() => {
            // Sign-out successful.
        }).catch((error) => {
            // An error happened.
        });
    }

    firebase.auth()
        .getRedirectResult()
        .then((result) => {
            if (result.credential) {
                /** @type {firebase.auth.OAuthCredential} */
                var credential = result.credential;

                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = credential.accessToken;
                // ...
            }
            // The signed-in user info.
            var user = result.user;

            // Extracting user sign-in data
            var user_id = result.uid;
            var email = user.additionalUserInfo.profile.email;
            var last_name = user.additionalUserInfo.profile.family_name;
            var first_name = user.additionalUserInfo.profile.given_name;
            var verified_email = user.additionalUserInfo.profile.verified_email;
            var profile_picture = user.additionalUserInfo.profile.picture;

        }).catch((error) => {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // The email of the user's account used.
            var email = error.email;
            // The firebase.auth.AuthCredential type that was used.
            var credential = error.credential;
            // ...
        });
</script>
<!-- Firebase login logic ends here -->

<!-- Login Modal starts here. It has been purposefully been kept as part of footer, as it can be made available on any page. -->
<div class="modal" id="auth_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Let's get started</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <!-- HTML, H., Cappuccio, D., Cappuccio, D., Cappuccio, D., MAx, M., jhurani, A. and Cappuccio, D.
HTML, H. et al. (2017) How to display Google sign-in button using HTML, Stack Overflow. Available at: https://stackoverflow.com/questions/46654248/how-to-display-google-sign-in-button-using-html (Accessed: 4 March 2021). -->
                    <a class="btn btn-outline-dark" onclick="google_signin();" role="button" style="text-transform:none">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Login with Google
                    </a>
                </div>
                <div>
                    <p class="text-muted">
                        </p>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>