<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                
                <% if ( session != null && session != undefined && session.role && session.role == "manager") { %>
                <li> <a class="waves-effect waves-dark" href="/manager-dashboard" aria-expanded="false"><i
                            class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="" aria-expanded="false"><i
                            class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span></a>
                </li>
                <li> 
                    <a class="waves-effect waves-dark" href="/manage_shift" aria-expanded="false"><span class="hide-menu"><i class="fa fa-tasks" aria-hidden="true"></i>
                        Manage Shifts</span></a>
                </li>
                <li> 
                    <a class="waves-effect waves-dark" href="/staff_account_create" aria-expanded="false"><span class="hide-menu"><i class="fa fa-plus-square"></i> Staff Accounts</span></a>
                </li>
                <% } %>
                <% if ( session != null && session != undefined && session.role && session.role == "staff") { %>
                <% } %>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->